.h4 {
  color: grey;
  padding-left: 1rem;
}

.h4:hover {
  cursor: pointer;
  color: white;
}

.color {
  padding-left: 0.7rem;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
}

.CopySection {
  color: gray;
  padding-left: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
