.ProductContainer {
  max-width: 465px;
  max-height: 650px;
}

.ProductImage {
  width: 100%;
  height: 100%;
  min-height: 372.06px;
  object-fit: cover;
}

.title {
  font-weight: bold;
}
.subTitle {
  color: gray;
}

.subTitle,
.title {
  font-size: 13px;
}

.ProductInfo{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}