.ProductContainer {
  max-width: 465px;
  max-height: 650px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 435px;
  height: 100%;
}
.OverLay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    112,
    112,
    112,
    0.2
  ); /* Semi-transparent grey background */
  border-radius: 10px;
  cursor: not-allowed;
}

.ProductImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: bold;
}
.subTitle {
  color: gray;
}

.subTitle,
.title {
  font-size: 13px;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

@media screen and (min-width: 768px) {
  .ProductContainer {
    min-width: 280px;
  }
}
