.ProductContainer {
  max-width: 465px;
  max-height: 650px;
  position: relative;
  cursor: pointer;
}

.TransparentBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.2); /* Semi-transparent grey background */
  border-radius: 10px;
  pointer-events: none;
  cursor: not-allowed;
  z-index: 12;
}


.ProductImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-weight: bold;
}
.subTitle {
  color: gray;
}

.subTitle,
.title {
  font-size: 13px;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

/* @media screen and (min-width: 961px) {
  .ProductImage {
    min-height: 581.25px;
    object-fit: cover;
  }
}

@media screen and (min-width: 0px) {
  .ProductImage {
    min-height: 223.75px;
    object-fit: cover;
  }
}

@media screen and (min-width: 600px) {
  .ProductImage {
    min-height: 460px;
    object-fit: cover;
  }
} */
