.NavbarContainer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 5000;
}

.Logo {
  width: 70px;
  height: 35px;
}

.IconContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.9rem;
}

.IconColor {
  color: gray;
}

.IconColor,.Catagories,.Logo:hover {
  cursor: pointer;
}

.ExtraPadding {
  padding: 2rem 4rem;
}

.MiddleSection {
  width: 25%;
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Urbanist, sans-serif;
}
